.App {
  text-align: center;
}

* {
  font-family: Quicksand, sans-serif;
  color:white;
}

body {
  background-color: #232323;
}

img {
  height: 400px;
  width: 350px;
  border-radius: 20px;
}

button {
  color: black;
}